body {
    margin:auto;
    max-width:650px;
    line-height:1.4em;
    font-size:18px;
    color:#444;
}
#content {
    padding:4em;
    visibility:hidden;
}
h1, h2 {
    line-height: 1.2;
}
h2 {
    text-transform: lowercase;
    font-variant-caps:small-caps;
}
hr {
    height:2px;
    border:none;
    background-color:#E7E9EE;
}
.smallcaps span {
    font-size:20px;
    font-variant-caps:small-caps;
}