<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    <!--
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    -->

    <!-- The code below is used for manually entered links  -->

    <!--
    <span style='cursor:pointer;' onclick="javascript:var hypothesis = document.createElement('script');
      hypothesis.setAttribute('src','https://hypothes.is/embed.js');
      document.head.appendChild(hypothesis);"><a class="sidebar-nav-item">Annotate me</a></span>
    -->

<!--     <a class="sidebar-nav-item" href="https://via.hypothes.is/{{ site.url }}{{ site.baseurl }}{{page.url}}/" data-proofer-ignore>Annotate me</a> -->
<!--  -->
    <!-- <script src="https://hypothes.is/embed.js" async></script> -->

    <style>
        .glyph-external {
            background-position: center right;
            background-repeat: no-repeat;
            background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
            padding-right: 13px;
        }
    </style>
    <span class="sidebar-nav-item"><a class="glyph-external" href="https://github.com/remzmike">personal github</a></span>
    <span class="sidebar-nav-item"><a href="/mash">snippets & more</a></span>
    <span class="sidebar-nav-item"><a href="/profile">shiny heavy profile</a></span>
    <span class="sidebar-nav-item"><a class="glyph-external" href="https://stackoverflow.com/users/159022/rz-mk">stackoverflow</a></span>

  </nav>

  <div class="sidebar-item">    
    {% for item in site.texts %}
  
      {{ item.date | date: "%Y-%m-%d" }}<br>
      <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a><br>

    {% endfor %}    
  </div>
</div>
