---
layout: default
title: "remzmike"
foo: "WHAT"
bars:
    - a:
        href: https://github.com/remzmike
        text: personal github
        desc: some uploads from my laptop
      img:
        width: 128px
        height: 128px
        src: thumb-github.png

    - a: 
        href: /simpleui
        text: simpleui demo
        desc: straightforward immediate mode ui
      img:
        width: 128px
        height: 128px
        src: thumb-simpleui.png

    - a:
        href: /mash
        text: screenshots & snippets
        desc: programming experiments, side projects
      img:
        width: 128px
        height: 128px
        src: thumb-mash.png
        src2: https://remzmike.github.io/mash/chartk1-screenshot.png

---
<div class="introduction">
    
    <style>
        .flexbar {
            display: flex;
            align-items: center; /* top */
            border: 1px solid #ddd;
            border-radius: 0.25rem;                        
            padding: 0.25rem;
            margin-bottom: 0.33rem;
            line-height: 1.25rem;
        }
        .thumbnail {            
            flex: 0 0 auto;
            border:0 solid #ddd; /* 0.25rem */
            border-radius: 0.25rem;
            margin-right: 1rem;
            width: 64px;
            height: 64px;
            min-width: 64px;
            min-height: 64px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @media (min-width: 38em) {
            .thumbnail, .thumbnail img {
                width: 128px;
                height: 128px;
                min-width: 128px;
                min-height: 128px;
            }
        }

        .bar-link > * {
            text-decoration: none;
            font-weight: normal;
            font-style: normal;
        }
        .bar-link:hover {
            text-decoration: none;
        }
        .flexbar:hover {            
            border-color: #004A56;
            background: #f7f7f7;
        }
    </style>
           
    {% for o in page.bars %}
        <a class="bar-link" href="{{o.a.href}}">
        <div class="flexbar">
            <div class="thumbnail" style="background-image: url({{o.img.src}});"></div>
            <div style="width:auto;">
                <div style="margin-top: 0.25rem; border-bottom:1px solid #ddd;">
                    {{o.a.text}}<!--<a href="{{o.a.href}}">{{o.a.text}}</a>-->
                </div>
                <div style="color:#888; font-size: 16px;">
                    {{o.a.desc}}
                </div>
            </div>
        </div>
        </a>    
    {% endfor %}  
            
    <!--
        https://gist.github.com/remzmike

        <div>
        <a href="/profile">shiny heavy profile</a>
    </div>-->
    <!--<div>
        <a href="https://stackoverflow.com/users/159022/rz-mk">stackoverflow</a>
    </div>-->


    <br>
    <!--% include schedule-call.html %-->

    <ul>
        <li><a href="https://calendly.com/remzmike/meeting/">schedule a phone call</a></li>
        <li><a href="mk-resume.html">download my resume</a></li>
    </ul>    

    <ul>
        <li>
            Posts:
            <ul>
            {% for item in site.texts %}                                    
                <li><a href="{{ site.baseurl }}{{ item.url }}">
                    {{ item.date | date: "%Y-%m-%d" }} &ndash; {{ item.title }}
                </a></li>
            {% endfor %}
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            Languages I have used professionally over 20 years:<br>
            <img src="languages2019.png" width=720 height=432>            
        </li>
    <ul>

</div>



